---
title: Monaca - HTML5ハイブリッドアプリ事例紹介
class: great-apps
description: アプリ事例 - クラウド上のアプリ開発環境。iOS/Android/Windows向けHTML5ハイブリッドアプリに対応。
---
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>

<script>
checkWidth = function(){
    // ブラウザの横幅を取得
    var browserWidth = $(window).width();
    // ボックスの横幅を取得
    var boxW = $(".box").width();
    // 左端から離す距離pxを計算
    var plusPxW = ((browserWidth - boxW)/2);
    // CSSで追加
    $('.box').css({'left': plusPxW + "px"});
};

checkHeight = function(){
    var browserHeight = $(window).height();
    // ボックスの縦幅を取得
    var boxH = $(".box").height();
    // 左端から離す距離pxを計算
    var plusPxH = ((browserHeight - boxH)/2);

    // CSSで追加
    $('.box').css({'top': plusPxH + "px"});
};

// リアルタイムで縦・横幅を取得
$(function(){
    checkWidth();
    $(window).resize(checkWidth);
});

$(function(){
    checkHeight();
    $(window).resize(checkHeight);
});
</script>

<style>
body {
    margin: 0;
    padding: 0;
}

.box {
    width: 300px;
    height: 200px;

    background-color: #999;
    color: #fff;
    text-align: center;
    position: relative;
}
</style>

<section id="case">

<div class="box">
    <span>縦：200px、横：300ピクセルのボックス</span>
</div>
</section>